*{
	margin: 0px;
	padding: 0px;
	font-family: "Calibri Light";
}

a:hover{
	cursor:pointer;
	color: black;
}

.header{
	height: 100px;
	width: 100%;
	display: flex;
}

.logo{
	width: 35%;
}

.logo>img{
	width: 100%;
	height: 100px;
}

.nav-bar{
	width: 65%;
	height: 100px;
	text-align: center;
	margin-top: 35px;
}

.nav-bar>a{
	position: sticky;
	top: 0;
	margin-left: 80px;
	width: 33.3%;
	text-decoration: none;
}

.nav-bar>p{
	width: 100%;
	border: 1px solid black;
	margin-top: 45px;
}

.full-content{
	height: 800px;
	width: 100%;
}

.full-content h1{
	font-family: andalus;
	text-align: center;
	padding-top: 20px;
}

.full-content hr{
	width: 60%;
	margin: auto;
}

.recipes{
	display: flex;
	margin-top: 30px;
	height: 700px;
	width: 100%;
}

.recipe1{
	width: 100%;
	display: block;
}

.recipe1 img{
	width: 80%;
	height: 30%;
	margin-left: 10%;
	margin-top: 5%;
}

.recipe1 h3{
	text-align: center;
	color: #750000;
}

.recipe1 p{
	text-align: center;
	font-size: 14px;
}

.recipe1:hover{
	cursor: pointer;
}

.recipe11{
	width: 100%;
	display: block;
}

.recipe11 img{
	width: 80%;
	height: 30%;	
	margin-left: 10%;
	margin-top: 5%;
}

.recipe11 h3{
	text-align: center;
	color: #750000;
}

.recipe11 p{
	text-align: center;
	font-size: 14px;
}

.recipe11:hover{
	cursor: pointer;
}

.recipe2{
	width: 100%;
}

.recipe2 img{
	width: 80%;
	height: 30%;
	margin-left: 10%;
	margin-top: 5%;
}

.recipe2 h3{
	text-align: center;
	color: #750000;
}

.recipe2 p{
	text-align: center;
	font-size: 14px;
}

.recipe2:hover{
	cursor: pointer;
}

.recipe3{
	width: 100%;
}

.recipe3 img{
	width: 80%;
	height: 30%;
	margin-left: 10%;
	margin-top: 5%;
}

.recipe3 h3{
	text-align: center;
	color: #750000;
}

.recipe3 p{
	text-align: center;
	font-size: 14px;
}

.recipe3:hover{
	cursor: pointer;
}

.recipe4{
	width: 100%;
}

.recipe4 img{
	width: 80%;
	height: 30%;
	margin-left: 10%;
	margin-top: 5%;
}

.recipe4 h3{
	text-align: center;
	color: #750000;
}

.recipe4 p{
	text-align: center;
	font-size: 14px;
}

.recipe4:hover{
	cursor: pointer;
}

.footer{
	height: 200px;
	width: 100%;
	display: flex;
}

.footer p{
	padding-top: 5px;
	color: #595959;
}

.contactUs{
	width: 100%;
	height: 150px;
	margin: auto;
	padding-left: 50px;
	padding-top: 30px;
	/*border: 2px solid red;*/
}

.contactUs input[type=text]{
    width: 50%;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-size: 14px;
}

.contactUs button{
	padding: 10px;
	color: white;
	background-color: #750000;
	cursor: pointer;
	border: 1px solid;
	border-color: #750000;
	font-size: 14px;
}

.contactUs button:hover
{
	color: #750000;
	background-color: #ffdbb3;
}

.contactUs h3{
	font-size: 16px;
}

.contactUs p{
	font-size: 14px;
}

.copyright{
	width: 100%;
	height:150px;
	padding-top: 30px;
	padding-left: 50px;
	margin: auto;
	/*border: 1px solid blue;*/
}

.copyright p{
	margin: auto;
	font-size: 14px;
}

.dot{
	height: 30px;
	width: 30px;
	padding-top: 15px;
	padding-right: 5px;
	border-radius: 50%;
	display: inline-block;
}

.dot img{
	height: 100%;
	width: 100%;
	/*padding-top: 10px;*/
}

.dot img:hover{
	opacity: 0.6;
	filter: alpha(opacity=50);
	cursor: pointer;
}