*{
	margin: 0px;
	padding: 0px;
	font-family: "Calibri Light";
}

a:hover{
	cursor:pointer;
	color: black;
	border-bottom: 1px solid black;
}

.full-content{
	height: 800px;
	width: 100%;
}

.header{
	height: 100px;
	width: 100%;
	display: flex;
}

.footer{
	height: 200px;
	width: 100%;
	display: flex;
}

.logo{
	width: 35%;
}

.logo>img{
	width: 100%;
	height: 100px;
}

.nav-bar{
	width: 65%;
	height: 100px;
	text-align: center;
	margin-top: 35px;
}

.nav-bar>a{
	position: sticky;
	top: 0;
	margin-left: 80px;
	width: 33.3%;
	text-decoration: none;
}

.nav-bar>p{
	width: 100%;
	border: 1px solid black;
	margin-top: 45px;
}

.instruction{
	padding-top: 15px;
	height: 8%;
	text-align: center;
	/*border: 2px solid black;*/
}

.instruction h1{
	font-family: "andalus";
}

.ingredient{
	height: 90%;
	width: 100%;
	/*border: 1px solid blue;*/
	display: flex;
}

.ingredient-label{
	width: 20%;
	height: 100%;
	border: 2px solid black;
}

.ingredient-label>h3{
	width: 100%;
	height: 7%;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: andalus;
	border: 1px solid black;
}

.label{
	width: 100%;
	height: 100%;
}

.label>button{
	text-decoration: none;
	width: 100%;
	height: 7.3%;
	display: block;
	text-align: center;
	padding: 15px 0px 25px 0px;
	margin-top: 15px;
	background: none;
	font-size: 16px;
	border: none;
}

.label>button:hover{
	cursor: pointer;
	font-size: 20px;
}

.ingredient-list{
	width: 80%;
	height: 100%;
	/*border: 1px solid black;*/
}

.ingredient-list>h3{
	width: 100%;
	height: 7%;
	text-align: center;
	font-family: andalus;
	padding-bottom: 22px;
	padding-top: 20px;
	border: 1px solid black;
}

.input-button{
	padding-left: 50%;
	margin-top: 25px;
}

.input-button>input:hover{
	cursor: pointer;
	color: white;
	background-color: #750000;
}

#input-checkbox{
	height: 80%;
	width: 100%;
	padding-left: 50%;
	display: block;
}

#input-checkbox>input{
	padding-top: 5px;
	padding-bottom: 5px;
}

/*#input-checkbox>p{
	padding-top: 5px;
	padding-bottom: 5px;
}*/

#input-checkbox>input:hover{
	cursor: pointer;
}

.footer p{
	padding-top: 5px;
	color: #595959;
}

.contactUs input[type=text]{
    width: 50%;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-size: 14px;
}

.contactUs button{
	padding: 10px;
	color: white;
	background-color: #750000;
	cursor: pointer;
	border: 1px solid;
	border-color: #750000;
	font-size: 14px;
}

.contactUs button:hover
{
	color: #750000;
	background-color: #ffdbb3;
}

.contactUs{
	width: 100%;
	height: 150px;
	margin: auto;
	padding-left: 50px;
	padding-top: 30px;
	/*border: 2px solid red;*/
}

.contactUs h3{
	font-size: 16px;
}

.contactUs p{
	font-size: 14px;
}

.copyright{
	width: 100%;
	height:150px;
	padding-top: 30px;
	padding-left: 50px;
	margin: auto;
	/*border: 1px solid blue;*/
}

.copyright p{
	margin: auto;
	font-size: 14px;
}

.dot{
	height: 30px;
	width: 30px;
	padding-top: 15px;
	padding-right: 5px;
	border-radius: 50%;
	display: inline-block;
}

.dot img{
	height: 100%;
	width: 100%;
	/*padding-top: 10px;*/
}

.dot img:hover{
	opacity: 0.6;
	filter: alpha(opacity=50);
	cursor: pointer;
}
