.content-fill input[type=text]{
	font-size: 16px;
    width: 95%;
    padding: 12px;
    margin: 2px 0 2px 0;
    border-radius: 5px;
    display: inline-block;
    border: none;
    background: #ffdbb3;
}

.content-fill input[type=password]{
	font-size: 16px;
	width: 95%;
	padding: 12px;
	margin: 2px 0 2px 0;
	border-radius: 5px;
	display: inline-block;
	border: none;
	background: #ffdbb3;
}
.content{
	width: 80%;
	margin: auto;
}

.content-fill{
	margin: auto;
	width: 35%;
}

.content-fill h1{
	text-align:center;
}

.content-fill p{
	text-align:center;
	color: red;
}

.registerbtn
{
	cursor: pointer;
	padding: 12px;
	background-color: #750000;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	opacity: 1;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 5%;
}

.registerbtn:hover{
	opacity: 0.7;
}

.error p{
	text-align: center;
	color: red;
	font-weight: bold;
}

/*.radio{*/
	/*padding-left: 20px;*/
	/*display: flex;*/
/*}*/

