.view-profile-parent{
    width: 100%;
    height: 100%;
    display: block;
}

.view-profile-information{
    width: 30%;
    height: 30%;
    margin: auto;
}

.view-profile-information>p{
    margin-bottom: 5px;
}

.view-profile-information>p>a{
    border: 3px solid white;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: white;
    background-color: red;
    margin-left: 8%;
}

.view-profile-information>a:hover{
    cursor: pointer;
}

.view-profile-recipe{
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 5%;
}

.view-profile-recipe-image>img{
    width: 33.3%;
    height: 50%;
}

.view-profile-recipe-info>p{
    width: 10%;
    height: 10%;
    margin-left: 8%;
}